.login_QR {
  background-color: #ecfaff;
  /* background-color: white; */
  /* background: none; */
  align-self: center;
  width: 50%;
  height: 90%;
  padding: 2%;
  display: flex;
  align-items: flex-start;
  border-radius: 5%;
  text-align: left;
  padding-top: 4%;
  z-index: 4002;
}
.login_QR_instruction {
  margin-right: 4%;
  font-size: 20px;
  color: grey;
}
.login_QR_close {
  /* margin-left: 4%; */
  color: grey;
  position: relative;
  top: -8%;
  left: 1.5%;
  /* display: flex; */

  /* align-self: auto; */
  /* right: 2%; */
}
.login_QR_close:hover {
  /* background-color: black; */
  color: black;
}
